@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@mixin flex($justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin btn {
  border: none;
  background-color: transparent;
}
