@use 'sass:math';
.cards {
  margin-top: $base-margin * 4;
  @include flex(space-around);
  flex-wrap: wrap;
  .card {
    border: 1px solid rgba(0, 0, 0, 0.175);
    width: 250px;
    height: 350px;
    margin-bottom: $base-margin * 3;
    &_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &_body {
      text-align: center;
      margin: $base-margin * 2.5 0;
      .card_title {
        margin-bottom: $base-margin;
      }
      button {
        margin-top: $base-margin;
        padding: math.div($base-padding, 2) $base-padding;
        color: #212529;
        border: 1px solid #212529;
        background-color: transparent;
        border-radius: 5px;
      }
    }
  }
}

footer {
  padding: $base-padding * 5;
  @include flex(center);
  background-color: rgb(33, 37, 41);
  color: #fff;
}
